<div class="card-deck-container" fxLayout="row wrap" fxLayout.s="column" fxLayoutWrap fxLayoutGap="1%">
  <mat-card *ngFor="let match of matches" class="card-item" [style.margin-right]="'0px'">
    <mat-card-header>
      <mat-card-title>{{match.TournamentName}} - {{match.MatchNumber}} of {{matches.length}}</mat-card-title>
      <mat-card-subtitle>{{match.Status}} : At {{match.Location}}, {{ match.Date | date }}</mat-card-subtitle>
    </mat-card-header>
    <mat-grid-list cols="3" rowHeight="50px">
        <mat-grid-tile [colspan]=2 [rowspan]=1 [style.background]="'skyblue'">
          {{match.HomeTeamName}}
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=1 [style.background]="'skyblue'">
          {{match.HomeTeamRunsScored}}/{{match.HomeTeamWicketsLost}} ({{match.HomeTeamOversPlayed}})
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=1 [style.background]="'lightgreen'">
          {{match.AwayTeamName}}
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=1 [style.background]="'lightgreen'">
          {{match.AwayTeamRunsScored}}/{{match.AwayTeamWicketsLost}} ({{match.AwayTeamOversPlayed}})
        </mat-grid-tile>
      </mat-grid-list>
    <mat-card-content>
      <span></span>
      <p>
          {{match.Summary}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="match.DeleteAccess==true" mat-button>Delete</button>
      <button mat-button>View</button>
      <button mat-button>Share</button>
    </mat-card-actions>
  </mat-card>
</div>