.card-deck-container {
  width: 100%;
  max-width: 1200px;
  position: relative;
  border-radius: 2px;
  padding-left: 8px;
  padding-bottom: 8px;
  background-color: lightgray;
}

.card-item {
  max-width: 350px;
  margin-top: 8px;
  background-color: azure;
}